body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px;
}

h1{
    text-align:center;
}

.subtitle{
    text-align:center;
    color:#94a3b8;
}

select,
textarea{
    width:100%;
    margin-top:20px;
    padding:12px;
    border-radius:8px;
}

textarea{
    height:180px;
}

button{
    margin-top:20px;
    width:100%;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#response{
    margin-top:30px;
    background:#1e293b;
    padding:20px;
    border-radius:10px;
}

#response h3{
    color:#60a5fa;
}

#response ul,
#response ol{
    margin-left:20px;
}

#response p,
#response li{
    line-height:1.6;
}

.escalateBtn{
    background:#dc2626;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

input[type="file"]{
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
    color:white;
}